@import "footer";
@import "support";
@import "home";
@import "composition";
@import "sticky";
@import "storefront.scss";
@import "cropper";

@font-face{
	font-family: Circe;
	src:url(src/fonts/Circe-Regular.woff) format("woff")
}

// app global css in SCSS form
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}

#q-app {
	overflow: hidden;
	background-color: #dce1e6;
}
