@import "support";
@import "home";
@import "composition";
// app global css in SCSS form
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}

body {
	background-image: url("src/assets/body.jpg");
	background-size: 20%;
	@media (max-device-width: 960px) {
		background-size: 100%;
	}
}
