.home {

	&__card {
		cursor: pointer;
		margin: 0 16px 16px 16px;
		border-radius: 8px;

		&_expand {
			& .home__card-image {
				border-radius: 8px 0 0 8px;
			}

			& .home__card-carousel {
				border-radius: 0 8px 8px 0 !important;
			}
		}

		&_shrink {
			& .home__card-image {
				border-radius: 8px 8px 0 0;
			}

			& .home__card-carousel {
				border-radius: 0 0 8px 8px !important;
			}
		}
	}

	&__card-carousel {

		& .q-carousel__prev-arrow--horizontal {
			@media (max-width: $breakpoint-xs-max) {
				left: 1px;
			}
		}

		& .q-carousel__next-arrow--horizontal {
			@media (max-width: $breakpoint-xs-max) {
				right: 1px;
			}
		}

		& .q-carousel__prev-arrow--vertical {
			top: 0;
		}

		& .q-carousel__next-arrow--vertical {
			bottom: 0;
		}
	}
}

