.home {

	&__producer-card {
		cursor: pointer;
		background-color: $primary;
		&:hover {
			transition: background-color 0.3s;
			background-color:rgba($primary, 0.9);
		}
	}

	&__producer-card-carousel {

		& .q-carousel__prev-arrow--horizontal {
			@media (max-width: $breakpoint-xs-max) {
				left: 1px;
			}
		}

		& .q-carousel__next-arrow--horizontal {
			@media (max-width: $breakpoint-xs-max) {
				right: 1px;
			}
		}

		//& .q-carousel__prev-arrow--vertical {
		//	top: -2px;
		//}
		//
		//& .q-carousel__next-arrow--vertical {
		//	bottom: -2px;
		//}
	}
}

