.product {

	&__card {
		margin-bottom: 16px;
		border-radius: 8px;

		&_expand {
			& .product__card-image {
				border-radius: 0 0 0 0;
			}

			& .product__card-carousel {
				border-radius: 0 4px 0 0 !important;
			}
		}

		&_shrink {
			& .product__card-image {
				border-radius: 4px 4px 0 0;
			}
		}

		&_list {
			& .product__card-image {
				border-radius: 4px 4px 0 0;
			}
		}

		&_title-container {
			background: no-repeat center/cover url("src/assets/showcase-title-palette.png");
			&.absolute {
				left: 26%;
				width: 123% !important;
			}
		}

		&_title {
			line-height: 1rem;
		}

		& .q-separator:after {
			display:block;
			content: '';
			border-bottom: solid 2px $primary;
			transform: scaleX(0);
			transition: transform 0.25s ease-in-out;
		}

		&:hover .q-separator:after {
			transform: scaleX(1)
		}
	}

	&__card-carousel {

		& .q-carousel__prev-arrow--horizontal {
			@media (max-width: $breakpoint-xs-max) {
				left: 5px
			}
		}

		& .q-carousel__next-arrow--horizontal {
			@media (max-width: $breakpoint-xs-max) {
				right: 5px;
			}
		}

		& .q-carousel__prev-arrow--vertical {
			top: 0;

			@media (min-width: $breakpoint-lg-min) {
				top: 5px;
			}
		}

		& .q-carousel__next-arrow--vertical {
			bottom: 0;

			@media (min-width: $breakpoint-lg-min) {
				bottom: 5px;
			}
		}
	}
}

