.product {

	&__card {
		margin-bottom: 16px;
		border-radius: 8px;

		&_expand {
			& .product__card-image {
				border-radius: 4px 0 0 4px;
			}

			& .product__card-carousel {
				border-radius: 0 4px 4px 0 !important;
			}
		}

		&_shrink {
			& .product__card-image {
				border-radius: 8px 8px 0 0;
			}

			& .product__card-carousel {
				border-radius: 0 0 8px 8px !important;
			}
		}

		&_list {
			& .product__card-image {
				border-radius: 4px 4px 4px 4px;
			}
		}
	}

	&__card-carousel {

		& .q-carousel__prev-arrow--horizontal {
			@media (max-width: $breakpoint-xs-max) {
				left: 5px
			}
		}

		& .q-carousel__next-arrow--horizontal {
			@media (max-width: $breakpoint-xs-max) {
				right: 5px;
			}
		}

		& .q-carousel__prev-arrow--vertical {
			top: 0;

			@media (min-width: $breakpoint-lg-min) {
				top: 5px;
			}
		}

		& .q-carousel__next-arrow--vertical {
			bottom: 0;

			@media (min-width: $breakpoint-lg-min) {
				bottom: 5px;
			}
		}
	}
}

