.border {
	&-dashed {
		border-style: dashed
	}
	&-black {
		border-color: black
	}
}

.transform {
	&-none {
		transform: none !important;
	}
}

.word-break {
	&_all {
		word-break: break-all;
	}
}

.text-bright {
	color: $bright !important;
}

.bg-bright {
	background: $bright !important;
}
